body {
    font-family: cursive, sans-serif;
    background-color: #07e616;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container {
    text-align: center;
}
.color{
    image-orientation: #f30606;   
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }



.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #fff9f9;
}

p {
    font-size: 1em;
    color: #0105f1;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    background-color: #333;
    color: #30ff02;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f10e0e;
}
